
body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DDD;
}
h1
{
    text-align: center;
}
.formContainer
{
    display: flex;
    padding: 10px;
    background-color: #FFF;
    flex-wrap: wrap;
    justify-content:space-around;
}
.inputFormat
{
    border: 0;
    outline: none;
    border-bottom: 1px solid #000;
    margin: 6px;
    width: 21em;
}
.widthInputPhone
{
    width: 13.5em;
}
#personalData, #address, #services
{
    padding: 10px;
    width: 30%;
}

/*BOTÕES PARA CRIAR ELMEENTOS E REMOVER*/
.btnMost, .btnMinus
{
    padding: 5px;
    font-size: 1em;
    border-radius: 7px;
    color: #FFF;
    background-color: green;
    text-align: center;
    width: 2em;
}
.btnMinus
{
    background-color: #FF0000;
}
.btnMost
{
    margin-left: 10px;
}
#genero
{
    background-color: #EEE;
    padding: 4px;
    font-size: 1em;
    border-radius: 10px;
    margin-top: 8px;
}
.inputWidth
{
    width: 12em;
}
option
{
    border-bottom: 1px solid #000;
}
/*CLASSE DOS INPUTS CRIADOS*/
.inputPhone
{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
/*BREAK PARA QUEBRA DE LINHA*/
.break
{
    width: 100%;
}